# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# venv
venv/
ENV/
env/
*.env

# pip cache
pip-log.txt
pip-delete-this-directory.txt

# ------------------------
# Jupyter
# ------------------------
.ipynb_checkpoints/
*.ipynb
# если хочешь пушить ноутбуки, можно убрать предыдущую строку

# ------------------------
# PyTorch / ML
# ------------------------
*.pt
*.pth
runs/

# ------------------------
# System / OS
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Logs
# ------------------------
*.log
